.App {
  font-family: 'Product Sans',Arial,sans-serif;
  width: 100%;
  font-weight: normal;
  text-align: left;  
  padding-right: 0px;
  padding-left: 0px;
}

h1 { 
  font-size: 42px;
}

.App-header {
  background-color: #ffffff;
  height: 60px;
  padding: 15px 35px 30px;
  color: #767676;  
  font-size: 1.5em;
  vertical-align: middle;
}

.Section-ShortenURL {
  height: 100%;
  background-color: #376ed1;
  color: white;
  padding: 20px 0px;
}

.shorten-title {
  font-size: 2em;
}

.shorten-input {
  padding: 10px 0px;
}

.shorten-btn {
  margin: 0px 20px;
  background-color: white;
  color: #039be5;
  cursor: pointer;
}